<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>
    <header>

        {% block pagename %}
        <h1>{{pagename}}</h1>
        {% endblock %}

    </header>
    {% block menu %}
    <h2>
        <a href="/platform">Главная</a>
    </h2>
    <h2>
        <a href="/games">Магазин</a>
    </h2>
    <h2>
        <a href="/cart">Корзина</a>
    </h2>
    {% endblock %}


    {% block content %}
    <h2></h2>
    {% endblock%}

</body>
</html>